<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Panel de Control del Agente Vendedor Externo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ECSDI">
            <h1>ECSDI</h1>
        </div>
    </header>
    <div class="container">
        <h1>AGENTE VENDEDOR EXTERNO ECSDI</h1>
        <p>Bienvenido, {{ registered_vendor }}</p>
        <form action="/new_product" method="get">
            <input type="submit" name="submit" value="Crear Nuevo Producto">
        </form>
        <p>Crear un nuevo producto para un vendedor externo.</p>

        <form action="/list_products" method="get">
            <input type="submit" name="submit" value="Listar Productos">
        </form>
        <p>Listar los productos disponibles de su empresa.</p>
    </div>
</body>
</html>