<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Panel de Control del Agente Vendedor Externo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>AGENTE VENDEDOR EXTERNO ECSDI</h1>
        <form action="/new_product" method="get">
            <input type="submit" name="submit" value="Crear Nuevo Producto">
        </form>
        <p>Crear un nuevo producto para un vendedor externo.</p>

        <form action="/list_products" method="get">
            <input type="submit" name="submit" value="Listar Productos">
        </form>
        <p>Listar los productos disponibles de cada empresa.</p>
    </div>
</body>
</html>
