<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Agente Asistente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-icons">
            <a href="/" class="home-icon"><img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Inicio"></a>
            {% if products_enviats or products_externs %}
            <a href="/notificaciones" class="active-notification-icon"><img src="{{ url_for('static', filename='images/active-notification-icon.png') }}" alt="Notificaciones sin leer"></a>
            {% else %}
            <a href="/notificaciones" class="notification-icon"><img src="{{ url_for('static', filename='images/notification-icon.png') }}" alt="Notificaciones"></a>
            {% endif %}
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ECSDI">
            <h1>ECSDI</h1>
        </div>
    </header>
    <div class="container">


        <h1>AGENTE ASISTENTE ECSDI</h1>
        <p>Usuario activo: {{ usuario }}</p>

        <form action="/search_products" method="get">
            <input type="submit" name="submit" value="Buscar Productos">
        </form>
        <p>Indica las restricciones y busca. Selecciona los artículos que desees y completa la información para la compra.</p>

        <form action="/historial_comandes" method="get">
            <input type="submit" name="submit" value="Historial de Comandas">
        </form>
        {% if products_recomenats %}
        <p>¡Estos son los últimos productos que te recomendamos! ¡Aprovecha!</p>
        <table>
            <tr>
                <th>NOMBRE</th>
                <th>PRECIO</th>
                <th>MARCA</th>
                <th>CATEGORIA</th>
            </tr>
            {% for p in products_recomenats %}
            <tr>
                <td>{{ p.Nom }}</td>
                <td>{{ p.Preu }}</td>
                <td>{{ p.Marca }}</td>
                <td>{{ p.Categoria }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>