<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Añadir Producto Externo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Añadir Producto Externo</h1>
        {% if start %}
            <form method="post">
                {% if error %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <select name="companyName">
                    <option value="">Selecciona el vendedor</option>
                    {% for vendor in vendors %}
                        <option value="{{ vendor }}">{{ vendor }}</option>
                    {% endfor %}
                </select><br>
                <input type="text" name="productName" placeholder="Nombre del producto"/><br>
                <input type="text" name="brand" placeholder="Marca del producto"/><br>
                <input type="text" name="category" placeholder="Categoría del producto"/><br>
                <input type="text" name="price" placeholder="Precio del producto en €"/><br>
                <input type="text" name="weight" placeholder="Peso del producto en kg"/><br>
                <input type="submit" name="submit" value="Afegir">
            </form>
        {% else %}
            <p>Su producto ha sido añadido correctamente al catálogo de la tienda.</p>
            <br>
            <form method="post">
                <input type="submit" name="submit" value="Tornar">
            </form>
        {% endif %}
    </div>
</body>
</html>
