<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Resolución de Devolución</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-icons">
            <a href="/" class="home-icon"><img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Inicio"></a>
            {% if products_enviats or products_externs %}
            <a href="/notificaciones" class="active-notification-icon"><img src="{{ url_for('static', filename='images/active-notification-icon.png') }}" alt="Notificaciones sin leer"></a>
            {% else %}
            <a href="/notificaciones" class="notification-icon"><img src="{{ url_for('static', filename='images/notification-icon.png') }}" alt="Notificaciones"></a>
            {% endif %}
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ECSDI">
            <h1>ECSDI</h1>
        </div>
    </header>
    <div class="container">
        <h1>Resolución de la Devolución del Producto {{ producte_nom }}</h1>
        {% if resolucio == "Retornat" %}
            <p>La devolución ha sido aceptada.</p>
            <div class="details">
                <p><strong>Transportista:</strong> {{ transportista }}</p>
                <p><strong>Fecha de recogida:</strong> {{ fecha_recogida }}</p>
            </div>
        {% else %}
            <p>La devolución ha sido rechazada.</p>
        {% endif %}
        <a href="/comanda/{{ comanda_id }}" class="button">Volver a la Comanda</a>
    </div>
</body>
</html>
