<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Devolución de Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .button {
            flex: 1;
            text-align: center;
        }
        .button:not(:last-child) {
            margin-right: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-icons">
            <a href="/" class="home-icon"><img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Inicio"></a>
            {% if products_enviats or products_externs %}
            <a href="/notificaciones" class="active-notification-icon"><img src="{{ url_for('static', filename='images/active-notification-icon.png') }}" alt="Notificaciones sin leer"></a>
            {% else %}
            <a href="/notificaciones" class="notification-icon"><img src="{{ url_for('static', filename='images/notification-icon.png') }}" alt="Notificaciones"></a>
            {% endif %}
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ECSDI">
            <h1>ECSDI</h1>
        </div>
    </header>
    <div class="container">
        <h1>Devolución del Producto {{ producte_nom }}</h1>
        <form method="POST">
            <label for="motivo">Motivo de la devolución:</label>
            <div class="radio-group">
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="motivo" value="No se satisfan les expectatives del producte" required>
                            No se satisfan les expectatives del producte
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="motivo" value="El producte és defectuós">
                            El producte és defectuós
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="motivo" value="El producte és erroni">
                            El producte és erroni
                        </label>
                    </li>
                </ul>
            </div>
            <div class="buttons">
                <a href="/comanda/{{ comanda_id }}" class="button">Cancelar</a>
                <button type="submit" class="button">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>
