<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Identificación de Usuario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Por favor, proporcione su DNI para identificarse</h1>
        <form method="post" action="/">
            <input type="text" name="DNI" placeholder="DNI" required>
            <input type="submit" name="submit" value="registro_usuario">
        </form>
    </div>
</body>
</html>
