<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ECSDI - Productos de la Comanda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-icons">
            <a href="/" class="home-icon"><img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Inicio"></a>
            <a href="/notificaciones" class="notification-icon"><img src="{{ url_for('static', filename='images/notification-icon.png') }}" alt="Notificaciones"></a>
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ECSDI">
            <h1>ECSDI</h1>
        </div>
    </header>
    <div class="container">
        <h1>Productos de la {{ comanda.ID }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Fecha de Entrega</th>
                    <th>Transportista</th>
                    <th>Estat</th>
                    <th>Valoracio</th>
                </tr>
            </thead>
            <tbody>
                {% for product in comanda.Productes %}
                <tr>
                    <td>{{ product.Nom }}</td>
                    <td>{{ product.Preu }} €</td>
                    <td>{{ product.Data }}</td>
                    <td>
                        {% if product.Empresa == 'ECDI' and product.Enviado == 'false'%}
                            Pendent d'assignar transportista
                        {% elif product.Empresa == 'ECDI' and product.Enviado == 'true' %}
                            {{ product.Transportista}}
                        {% else %}
                            Producte gestionat per l'empresa {{ product.Empresa }}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.Empresa != 'ECDI' and product.Pagado == 'false'%}
                            <a href="/pagar/{{comanda.ID}}/{{ product.Nom }}?preu={{ product.Preu }}&empresa={{ product.Empresa }}" class="button">Pagar</a>
                        {% elif product.Empresa != 'ECDI' and product.Pagado == 'true'%}
                            Pagat!!
                        {% elif product.Enviado == 'true' and product.Pagado == 'false'%}
                            <a href="/pagar/{{comanda.ID}}/{{ product.Nom }}?preu={{ product.Preu }}&empresa={{ product.Empresa }}" class="button">Pagar</a>
                        {% elif product.Enviado == 'false' %}
                            Pendent de Enviament
                        {% else %}
                            Pagat!!
                        {% endif %}
                    </td>
                    <td>
                        {% if product.Pagado == 'true' %}
                            <form action="/valorar/{{ comanda.ID }}/{{ product.Nom }}" method="POST">
                                <input type="number" name="valoracion" min="1" max="5" step="1" required>
                                <input type="submit" value="Valorar">
                            </form>
                        {% else %}
                            Pendent de pagament
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% for page_num in range(1, total_pages + 1) %}
            <a href="?page={{ page_num }}" class="{% if page_num == page %}active{% endif %}">{{ page_num }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
